.suggestionSpelling {
  color: white;
  font-size: 1.5rem;
}

.suggestionDefinitionList {
  list-style: none;
  padding-left: 1rem;
}

.suggestionDefinition {
  padding-bottom: .25rem; 
}

.suggestionDefinition:last-child {
  padding-bottom: 0;
}
