:root {
  --quarter-note: .25rem;
  --eighth-note: .125rem;
}

.wordCreateForm {
  border: 1px solid black;
  padding: var(--quarter-note);
}

.fieldArray {
  border: 1px solid black;
  padding: var(--quarter-note);
  margin: var(--eighth-note) var(--quarter-note);
}

.fieldArrayField {
  display: flex;
  border: 1px solid black;
  padding: var(--eighth-note);
  margin-top: var(--quarter-note);
}

.spellingContainer {
  composes: fieldArray;
}

.definitionsContainer {
  composes: fieldArray;
}

.spellingForm {
  composes: fieldArrayField;
}

.definitionForm {
  composes: fieldArrayField;
}

.inputField {
  display: flex;
  align-items: center;
  padding: var(--quarter-note);
}

.inputField label {
  margin-right: var(--quarter-note);
}

.inputFieldBody {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.inputFieldError {
  padding: var(--eighth-note);
}

.siblingsContainer {
  composes: fieldArray;
}

.siblingForm {
  composes: fieldArrayField;
}

.childrenContainer {
  composes: fieldArray;
}

.childForm {
  composes: fieldArrayField;
}
