.survey {
  display: flex;
  justify-content: center;
}

.button:hover {
  cursor: pointer;
}

.button {
  flex-grow: 1;
  
  text-align: center;

  font-weight: bold;
  color: white;

  border: none;
  padding: .5rem;
}

.red {
  background-color: #ff8080;
}

.green {
  background-color: #80ff80;
}

.blue {
  background-color: #8080ff;
}

.again {
  composes: red button;
}

.good {
  composes: green button;
}

.easy {
  composes: blue button;
}
