.row {
  display: flex;
  flex-direction: row;
}
.column {
  display: flex;
  flex-direction: column;
}

.word {
  padding: 1rem;
  border: 1px solid black;
}

.mainRow {
  composes: row;
  justify-content: space-between;
}

.siblings {
  padding-bottom: 1rem;
  align-self: flex-end;
}

.wordBody {
  composes: column;
}

.spellingRow {
  composes: row;
  align-items: center;
}

.spelling {

}

.zhHant {
  border-left: 1px solid black;
  color: #808080;
  padding-left: .25rem;
}

.zhHans {

}

.ja {

}

.spellingForm {
  padding-right: .25rem;
  font-size: 2rem;
}

.pronounciation {
  padding-left: .5rem;
}

.definition {
  padding-left: 1rem;
}

.derivation {
  composes: row;
  padding-top: .25rem;
  padding-bottom: .25rem;
  color: #808080;
}

.children {
  display: flex;
  justify-content: space-between;

  padding-top: 1rem;
}
