.lcd-text {
  position: relative;

  background-color: #ff0092;
  color: #fff;
  text-shadow:
    2px 0 rgba(255, 0, 0, 0.9),
    -2px 0 rgba(0, 0, 255, 0.9);
  font-family: 'Source Code Pro', monospace;
}

.cursor {
  position: absolute;
  top: 0;
  bottom: 0;
  right: -0.5em;
  width: 5px;
  background: #ff0092;
  box-sizing: border-box;
  border-left: 0.5em solid;
  animation:
    typing 1s steps(13, end),
    blinking 1s step-end infinite;
}

@-webkit-keyframes typing {
  from,
  to {
    width: 100%;
  }
  25% {
    width: 0;
  }
  50% {
    width: 0;
  }
  75% {
    width: 100%;
  }
}

@keyframes typing {
  from {
    width: 100%;
  }
  to {
    width: 0;
  }
}

@-webkit-keyframes blinking {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #fff;
  }
}

@keyframes blinking {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #fff;
  }
}
